:root {
    --dark-green-: #457744;
    --dark-green-faded:#457744b4 ;
    --white: #ffffff;
    --white-faded: #ffffff86;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    margin: 0 auto;
    background: var(--white-faded);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.welcome-img{
    width: 100%;
    object-fit: cover;
}

.title{
    font-family: "Gunship";
    font-size: 48px;
    color: var(--dark-green-);
    text-align: center;
    margin-bottom: 50px;
}

.suptitle{
    font-size: 24px;
    color: var(--dark-green-faded);
    text-align: center;
    margin-bottom: 20px;
}

.welcome{
    position: absolute;
}

.hello-card{
    position: absolute;
    top: 50%;
    left: 50%;
}

.blur-effect {
    position: absolute;
    width: 200px;
    height:200px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask: url(#blobMask);
}

.stroke-svg{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height:200px;
    pointer-events: none;
}