:root {
    --dark-green-: #457744;
    --dark-green-faded:#457744b4 ;
    --dark-green-deed:#45774479 ;
    --light-green:#80C26D;
    --white: #ffffff;
    --white-faded: #ffffff86;
    --smoke:#feecab; 
    --light-smoke:#fcf2cd;
    --black:#000000;
    --black-lighten:#1f1b1b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}