:root {
    --dark-green-: #457744;
    --dark-green-faded:#457744b4 ;
    --white: #ffffff;
    --white-faded: #ffffff86;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.team-container{
    width: 100%;
    padding: 100px 40px 40px 40px;
    background-color: var(--dark-green-);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.team-img-container{
    width: 45%;
    height: 100%;
    border-radius: 15px;
    padding: 60px 0;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-img{
    object-fit: cover;
    width: 90%;
}

.team-card-container{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
}

.team-card{
    position: relative;
    width: 10%;
    height: 100%;
    margin: 0 10px;
    border-radius: 15px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-card.active{
    width: 20%;
}

.team-exp{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 60% 0 30% 0;
}

.team-title{
    width: max-content;
    writing-mode: vertical-rl;
    font-size: 40px;
}

.team-btn{
    font-size: 40px;
}

.member{
    right: calc(100% + 20px);
    position: absolute;
    width: 200%;
    display: none;
}

.team-card.active .member{
    display: block;
}

.member-photo{
    width: 100%;
    object-fit: cover;
    display: none;
}

.team-card.active .member-photo{
    display: block;
}


.team-member{
    display: none;
}