:root {
    --dark-green-: #457744;
    --green-: #4c924b;
    --dark-green-faded:#457744b4 ;
    --dark-green-deed:#45774479 ;
    --light-green:#80C26D;
    --white: #ffffff;
    --white-faded: #ffffff86;
    --smoke:#feecab; 
    --light-smoke:#fcf2cd;
    --black:#000000;
    --black-lighten:#1f1b1b;
    --yellow: #a7f811;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.robot-container{
    height: min-content;
    width: 100%;
    padding-bottom: 50px;
}

.head-conatiner{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.head-img{
    width: 100%;
    object-fit: cover;
}

.head-robot-id{
    position: absolute;
    z-index: 2;
    left: 50px;
    bottom: 120px;
    padding: 15px 100px 15px 30px; 
    background-color: var(--white);
    border-radius: 20px;
    border: 6px solid var(--dark-green-);
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--dark-green-);
    font-size: 80px;
    font-style: italic;
    user-select: none;
}

.head-conatiner-blur{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, #6ba75e, rgba(106, 166, 93, 0.29), #ff8fa700)
}

.robot{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.back-wave{
    position: absolute;
    z-index: -1; 
}

.robot-data{
    width: 60%;
    border-radius: 15px;
    border: 4px solid var(--light-green);
    background-color: var(--white);
    margin-left: 40px;
    margin-right: 40px;
}

.robot-img-conatiner{
    width: 40%;
    margin-right: 40px;
}

.robot-img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 4px solid var(--light-green);
}

/* Data containers*/

.data-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.data-headline{
    font-weight: 600;
    font-size: 4rem;
    background: url("../images/wave.svg");
    background-repeat: no-repeat;
    background-size: 1500%;
    background-position: 0,0;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 30px;
}

.data-headline i{
    font-size: 3.5rem;
    margin-right: 10px;
}

.hr{
    display: block;
    width: 100%;
    height: 8px;
    background-color: var(--green-);
    border-radius: 4px;
    margin: 10px 0 20px;
}

.data-box{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5%;
    padding: 0 10px;
}

.data-li{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-data{
    justify-content: center;
}

.data-title{
    font-size: 1.5rem;
    width: 50%;
    color: var(--dark-green-);
}

.data-title i{
    width: 20%;
}

.data-img-icon{
    width: 13%;
    object-fit: cover;
    margin-right: 13px;
}

.data-value{
    font-size: 1.5rem;
    color: var(--dark-green-);
    text-align: left;
    width:50%;
}

/* sell*/

.btn {
    width: 100%;
    height: 70px;
    font-size: 2em;
    font-weight: 500;
    border-radius: 10px;
    background: transparent;
    color: var(--dark-green-);
    border: 4px solid var(--dark-green-);
    transition: all .4s;
}

.delete{
    color: #c41010;;
    border: 4px solid #c41010;;
}

.btn:hover {
    color: #fff;
    background: #c41010;
    transform: translate(-3px, -4px);
}

.btn:active {
    transform: translate(3px, 4px);
}

/* sell and delete */

.back-blur{
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 998;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
}

.back-blur.active{
    animation-name: blurActive;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.79,.14,.15,.86);
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 1s;
    display: block;
}

@keyframes blurActive{
    0%{
        display: none;
        opacity: 0;
    }
    10%{
        display: block;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
    }
}

.back-blur.remove{
    animation-name: blurRemove;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.79,.14,.15,.86);
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 1s;
    display: none;
}

@keyframes blurRemove{
    0%{
        display: block;
        opacity: 1;
    }
    90%{
        display: block;
        opacity: 0;
    }
    100%{
        display: none;
        opacity: 0;
    }
}

.modal{
    overflow: hidden;
    position: fixed;
    display: none;
    z-index: 998;
    top: 11vh;
    width: 70%;
    height:80vh;
    border-radius: 10px;
    border: 4px solid var(--dark-green-);
    background-color: var(--white-faded);
    backdrop-filter: blur(15px);
    transform: scale(0.8);
}

.modal.active{
    animation-name: modalActive;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.79,.14,.15,.86);
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 2s;
    transform: scale(1);
    display: block;
}

@keyframes modalActive{
    0%{
        display: none;
        opacity: 0;
        transform: scale(0.8);
    }
    10%{
        display: block;
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        display: block;
        opacity: 1;
        transform: scale(1);
    }
}

.modal.remove{
    animation-name: modalRemove;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.79,.14,.15,.86);
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 1s;
    transform: scale(0.8);
    display: none;
}

@keyframes modalRemove{
    0%{
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    90%{
        display: block;
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        display: none;
        opacity: 0;
        transform: scale(0.8);
    }
}

.modal-header-btn{
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
    top: 0;
    aspect-ratio: 1/1;
    height: 12%;
    border-bottom: 4px solid var(--dark-green-);
    border-left: 4px solid var(--dark-green-);
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-deed);
    backdrop-filter: blur(15px);
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal-header-btn:hover{
    background-color: var(--white);
}

.modal-header-btn i{
    background-color: transparent;
    color: var(--dark-green-);
    font-size: 50px;
    font-weight: 900;
    transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal-header-btn:hover i{
    transform: translate(-1px,-2px);
}

.modal-header-btn:active i{
    transform: translate(1px,2px);
}

.modal-img-conatiner{
    position: absolute;
    right: -7%;
    bottom: -40%;
    width: 70%;
}

.modal-img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
}

.modal-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: block;
    width: 50%;
    text-align: center;
    font-size: 5rem;
    color: var(--dark-green-);
    margin: 40px 10px 70px;
}

.modal-side{
    padding: 0 50px;
    width: 50%;
    height: 100%;
}

/*Form section*/

.form{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
}

.input-box {
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 4px solid var(--dark-green-);
    margin: 20px 0;
}

.input-box:nth-child(3){
    height: 90px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 8px;
    font-size: 2rem;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
    color: var(--dark-green-);
    transition: all .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -3px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 2em;
    font-weight: 500;
    color: var(--dark-green-);
    padding-left: 2px;
    padding-right: 50px;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 2.3rem;
    color: var(--dark-green-);
}

.input-btn-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    grid-row: 4;
    gap: 3%;
    padding: 10px;
    padding-bottom: 60px;
}

/* terms */

.remember {
    padding: 10px 0;
    font-size: 1.1em;
    margin: -15px 0 5px 5px;
    color: var(--dark-green-);
}

.remember label input {
    accent-color: var(--dark-green-);
}

.data-container:nth-child(2) .data-li{
    display: flex;
    align-items: center;
}

.data-container:nth-child(2) .data:nth-child(1),
.data-container:nth-child(2) .data-title:nth-child(1){
    width: 100%;
}

.robot-title{
    width: min-content !important;
}

.robot-btn {
    width: 200px;
    height: 70px;
    margin-right: 20px;
    border: 3px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    color: var(--yellow);
    font-size: 2.2rem;
    font-weight: 500;
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.robot-btn.pasued{
    border: 3px solid var(--dark-green-);
    color: var(--dark-green-);
}

.robot-btn:hover {
    background-color: var(--yellow);
    color: var(--white);
    transform: translate(-2px,-3px);
}

.robot-btn.pasued:hover{
    background-color: var(--dark-green-);
}

.robot-btn:active {
    transform: translate(2px,3px);
}

.robot-btn i{
    margin-right: 20px;
}