<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pages/home.css">
    <link rel="stylesheet" href="../static/css/elements/side_bar.css">
    <link rel="stylesheet" href="../static/css/elements/body.css">
    <link rel="stylesheet" href="../static/css/elements/header.css">
    <link rel="icon" type="image/x-icon" href="../static/images/botanic-e-icon-green.png">
    <script src="https://kit.fontawesome.com/cfe474865a.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-09b459cf485d4b1f3304947240314c05.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css">
    <link rel="stylesheet"href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css">
    <title>Botanic-e</title>
</head>
<body>
    
    <main class="wrap">
        <header class="header">
            <div class="menu-logo">
                <label class="menu">
                    <input type="checkbox" class="menu-icon">
                    <svg viewBox="0 0 32 32">
                        <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                        <path class="line" d="M7 16 27 16"></path>
                    </svg>
                </label>
                <a href="index.html">
                    <img src="../static/images/botanic-e-white-slogan-hd.png" alt="logo" class="logo">
                </a>
            </div>
            <ul class="link-list">
                <li class="link"><a href="#"> Home</a></li>
                <li class="link"><a href="#"> Platform</a></li>
                <li class="link"><a href="#"> Solution</a></li>
                <li class="link"><a href="#"> About Us</a></li>
                <div class="animation"></div>
            </ul>
            <ul class="account">
                <li class="account-btn"><a href="access/login.html">Log In</a></li>
                <li class="account-btn"><a href="access/signup.html">Sign Up</a></li>
            </ul>
        </header>

        <section class="side-bar">
            <div class="side-logo-container">
                <a href="index.html">
                    <img src="../static/images/botanic-e-white-slogan-hd.png" alt="logo" class="side-logo">
                </a>
                <button class="side-btn"><i class="fa-solid fa-angle-right"></i></button>
            </div>
            <ul class="page-links">
                <li class="page-link"><i class="fa-regular fa-house"></i><a href="">Home</a></li>
                <li class="page-link"><i class="fa-regular fa-flower-tulip"></i><a href="">Flowers</a></li>
                <li class="page-link"><i class="fa-regular fa-robot"></i><a href="">Robots</a></li>
                <li class="page-link"><i class="fa-regular fa-leaf"></i><a href="">Risky Flowers</a></li>
                <li class="page-link"><i class="fa-regular fa-cart-shopping"></i><a href="">Market Place</a></li>
                <li class="side-animation"></li>
            </ul>
        </section>

        <article class="container">
            <img class="welcome-img" src=".././static/images/background-photo.jpg" alt="">
            <aside class="welcome">  
                <p class="title">Botanic-e</p>
                <p class="suptitle">Flowing in Flowers</p>
                <button class="welcome-btn">Get Start</button>
                <section class="hello-card">
                    <div class="blur-effect">
                        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                              <mask id="blobMask">
                                <rect x="0" y="0" width="200" height="200" fill="black"/>
                                <path fill="white" d="M41,-67C50.7,-57.5,54.7,-42.1,63.2,-27.6C71.7,-13.2,84.7,0.4,86.5,14.9C88.3,29.4,78.8,44.7,67.2,58.3C55.6,71.9,41.8,83.8,26.6,86.5C11.3,89.1,-5.5,82.6,-21,75.9C-36.4,69.3,-50.5,62.6,-62.2,52.2C-73.9,41.7,-83.3,27.5,-84.1,12.9C-84.9,-1.7,-77.2,-16.7,-70.2,-32.1C-63.2,-47.4,-56.9,-63.2,-45.4,-71.9C-33.8,-80.7,-16.9,-82.4,-0.7,-81.4C15.6,-80.4,31.2,-76.6,41,-67Z" transform="translate(100 100)" />
                              </mask>
                            </defs>
                        </svg>
                        <svg class="stroke-svg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" stroke=" #457744" stroke-width="7" d="M41,-67C50.7,-57.5,54.7,-42.1,63.2,-27.6C71.7,-13.2,84.7,0.4,86.5,14.9C88.3,29.4,78.8,44.7,67.2,58.3C55.6,71.9,41.8,83.8,26.6,86.5C11.3,89.1,-5.5,82.6,-21,75.9C-36.4,69.3,-50.5,62.6,-62.2,52.2C-73.9,41.7,-83.3,27.5,-84.1,12.9C-84.9,-1.7,-77.2,-16.7,-70.2,-32.1C-63.2,-47.4,-56.9,-63.2,-45.4,-71.9C-33.8,-80.7,-16.9,-82.4,-0.7,-81.4C15.6,-80.4,31.2,-76.6,41,-67Z" transform="translate(100 100)" />
                        </svg>
                    </div>
                   
                </section>
            </aside>
        </article>

    </main>

    <script src="../static/js/elements/side_bar.js"></script>
    <script src="../static/js//elements/header.js"></script>
</body>
</html>