<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/elements/header.css">
    <link rel="icon" type="image/x-icon" href="../static/images/botanic-e-icon-green.png">
    <script src="https://kit.fontawesome.com/cfe474865a.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <title>Botanic-e</title>
</head>
<body>
    
    <nav class="nav-bar">
        <div class="menu-logo">
            <div class="menu-bar">
                <span></span>
                <span></span>
                <span></span>
            </i></div>
            <a href="">
                <img src="../static/images/Botanic-e.png" alt="logo" class="logo">
            </a>
        </div>
        <ul class="menu">
            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fas fa-search"></i> Search</a></li>
 
        </ul>
    </nav>
</body>
</html>