<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/robot.css">
    <link rel="stylesheet" href="../static/css/side_bar.css">
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="icon" type="image/x-icon" href="../static/images/botanic-e-icon-green.png">
    <script src="https://kit.fontawesome.com/cfe474865a.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-09b459cf485d4b1f3304947240314c05.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css">
    <link rel="stylesheet"href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Botanic-e</title>
</head>
<body>
    
    <main class="wrap">
        <header class="header">
            <div class="menu-logo">
                <label class="menu">
                    <input type="checkbox" class="menu-icon">
                    <svg viewBox="0 0 32 32">
                        <path class="line line-top-bottom"
                            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                        </path>
                        <path class="line" d="M7 16 27 16"></path>
                    </svg>
                </label>
                <a href="index.html">
                    <img src="../static/images/botanic-e-white-slogan-hd.png" alt="logo" class="logo">
                </a>
            </div>
            <ul class="link-list">
                <li class="link"><a href="index.html"> Home</a></li>
                <li class="link"><a href="#"> Platform</a></li>
                <li class="link"><a href="#"> Solution</a></li>
                <li class="link"><a href="#"> About Us</a></li>
                <div class="animation"></div>
            </ul>
            <div class="user">
                Account <i class="fa-solid fa-caret-right"></i>
            </div>
            <ul class="user-container">
                <li class="username">
                    <i class="fa-solid fa-user"></i>
                    <span class="name">username</span>
                </li>
                <li class="log-out">
                    <i class="fa-regular fa-arrow-right-from-bracket"></i>
                    <a href="index.html" class="name">Log out</a>
                </li>
            </ul>
            <ul class="account">
                <li class="account-btn"><a href="login.html">Log In</a></li>
                <li class="account-btn"><a href="signup.html">Sign Up</a></li>
            </ul>
        </header>

        <section class="side-bar">
            <div class="side-logo-container">
                <a href="index.html">
                    <img src="../static/images/botanic-e-white-slogan-hd.png" alt="logo" class="side-logo">
                </a>
                <button class="side-btn"><i class="fa-solid fa-angle-right"></i></button>
            </div>
            <ul class="page-links">
                <li class="page-link"><a href=""><i class="fa-regular fa-house"></i><span href="#">Home</span></a></li>
                <li class="page-link"><a href="flower-index.html"><i class="fa-regular fa-flower-tulip"></i><span>Flowers</span></a></li>
                <li class="page-link"><a href=""><i class="fa-regular fa-robot"></i><span href="">Robots</span></a></li>
                <li class="page-link"><a href=""><i class="fa-regular fa-leaf"></i><span href="">Risky Flowers</span></a></li>
                <li class="page-link"><a href=""><i class="fa-regular fa-cart-shopping"></i><span href="">Market Place</span></a></li>
                <li class="side-animation"></li>
            </ul>
        </section>

        <article class="robot-container">
            <div class="head-conatiner">
                <div class="head-conatiner-blur"></div>
                <img src="../static/images/background-photo.jpg" alt="" class="head-img">
                <div class="head-robot-id">#VILLBT</div>
            </div>
            <img src="../static/images/wave-reversed.svg" alt="" class="back-wave">
            <section class="robot">
                <div class="robot-data">
                    <div class="data-container">
                        <div class="data-headline"><i class="fa-solid fa-cog"></i>General</div>
                        <div class="hr"></div>
                        <ul class="data-box">
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-user"></i>Owner</div>
                                    <div class="data-value" id="user" >Alibali</div>
                                </div>
                            </li>
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-id-card"></i>Robot ID</div>
                                    <div class="data-value" id="robot-id">#VILLBT</div>
                                </div>
                            </li>
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-leaf"></i>Version</div>
                                    <div class="data-value" id="version">Botanic-e</div>
                                </div>
                            </li>
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-battery-full"></i>Battery Capacity</div>
                                    <div class="data-value" id="battery">3000mAh</div>
                                </div>
                            </li>
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-seedling"></i>Adding Time</div>
                                    <div class="data-value" id="add-time">12-03-2023</div>
                                </div>
                            </li>
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-hourglass-half"></i>Work Time</div>
                                    <div class="data-value" id="work-time">3 month, 5 day</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="data-container">
                        <div class="data-headline"><i class="fa-solid fa-terminal"></i>Manage</div>
                        <div class="hr"></div>
                        <ul class="data-box">
                            <li class="data-li">
                                <div class="data">
                                    <div class="data-title"><i class="fa-solid fa-robot"></i>Status</div>
                                    <div class="data-value" id="status" >Working</div>
                                </div>
                            </li>
                            <li class="data-li robot-li">
                                <div class="data btn-data">
                                    <div class="data-title robot-title">
                                        <button class="robot-btn started"><i class="fa-regular fa-pause"></i>Pause</button>
                                    </div>
                                    <div style="width:100%;" class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="my-bar progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 85%"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="data-container">
                        <div class="data-headline"><i class="fa-solid fa-sliders-h"></i>Control</div>
                        <div class="hr"></div>
                        <ul class="data-box">
                            <li class="data-li">
                                <button class="delete btn">Delete Ownership</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="robot-img-conatiner">
                    <img src="../static/images/bot-img.jpeg" alt="" class="robot-img">
                </div>
            </section>
        </article>

        <div class="back-blur"></div>

        <aside class="delete-modal modal">
            <button class="modal-header-btn"><i class="fa-solid fa-xmark-large"></i></button>
            <div class="modal-body">
                <h1 class="title">Delete Robot</h1>
                <div class="modal-side">
                    <form class="form" id="delete-form" method="post">
                        <div class="input-box">
                            <span class="icon"><i class="fa-solid fa-hashtag-lock"></i></span>
                            <input id="robotId" name="robotId" type="text" required>
                            <label for="robotId">Robot ID</label>
                        </div>
                        <div class="remember">
                            <label>
                                <input name="remembering" type="checkbox" required>
                                I accept that all data about robot will be deleted!
                            </label>
                        </div>                                             
                        <div class="input-btn-box">
                            <input value="Delete" class="btn submit" name="submit" type="submit">
                            <input value="Cancel" class="btn cancel" name="cancel" type="button">
                        </div>
                    </form>
                </div>
                <div class="modal-img-conatiner">
                    <img src="../static/images/robot/botanic-e-innocent-looking.png" alt="" class="modal-img">
                </div>
            </div>
        </aside>

        <footer class="footer">
            <div class="footer-main">
                <div class="footer-link-container">
                    <a class="footer-img-link" href="index.html"><img class="footer-img" src="../static/images/botanic-e-white-full-2k.png" alt=""></a>
                    <a class="footer-get-in" href="">Get in tocuh <i class="fa-sharp fa-light fa-arrow-right-long"></i></a>
                </div>
                <div class="footer-link-container">
                    <div class="link-title">Shortly, Us</div>
                    <p class="link-desc"> As the Village Boys team, each of us brings years of experience in fields such as 3D design, Frontend, Backend, Robotics, and more, creating solutions aimed at the challenges of the new era. Along this journey, we have participated in international competitions like WRO and ISEF with projects like Robocean. Now, we are making a grand entrance with the Botanic-e project</p>
                    <ul class="social-links">
                        <li class="social-link"><a href="https://www.instagram.com/_village.boys_/"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="social-link"><a href="https://www.youtube.com/watch?v=BVgqaZ1Nbe0&t=4s"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-link-container">
                    <div class="link-title">Help</div>
                    <ul class="footer-links help">
                        <li class="footer-link"><a href="login.html">Log In</a></li>
                        <li class="footer-link"><a href="">Platform</a></li>
                        <li class="footer-link"><a href="">About Us</a></li>
                        <li class="footer-link"><a href="">Solition</a></li>
                        <li class="footer-link"><a href="">Market System</a></li>
                    </ul>
                </div>
                <div class="footer-link-container">
                    <div class="link-title">Contact</div>
                    <ul class="footer-links">
                        <li class="footer-link"><i class="fa-solid fa-phone"></i><a href="">+994(50)723 91 77</a></li>
                        <li class="footer-link"><i class="fa-solid fa-envelope"></i><a href="">office@botanic-e.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy-right">The Web Site Copy Righted by Team of Village Boys 2024 </div>
        </footer>

    </main>

    <script src="../static/js/user.js"></script>
    <script src="../static/js/my_robot.js"></script>
    <script src="../static/js/side_bar.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>