<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/static/css/shopping.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/shopping.js"></script>
</head>


<body>
    <div class="row">
        <div class="col-3">
            <br>
            <a class="btn btn-warning" href="/templates/index.html">Əsas Səhifə</a>
            <hr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Category Search</span>
                </div>
                <input type="text" class="form-control" id="categorySearch" placeholder="Search Category"
                    aria-label="Category Search" aria-describedby="basic-addon1">
            </div>
            <ul class="list-group" id="categoryList" role="tablist">
                <li id="asus" class="list-group-item list-group-item-action active">Asus</li>
                <li id="acer" class="list-group-item list-group-item-action ">Acer</li>
                <li id="dell" class="list-group-item list-group-item-action">Dell</li>
                <li id="hp" class="list-group-item list-group-item-action">HP</li>
                <li id="lenovo" class="list-group-item list-group-item-action">Lenovo</li>
                <li id="lg" class="list-group-item list-group-item-action">LG</li>
                <li id="casper" class="list-group-item list-group-item-action">Casper</li>
                <li id="fujitsu" class="list-group-item list-group-item-action">Fujitsu</li>
                <li id="nexus" class="list-group-item list-group-item-action">Nexus</li>
                <li id="samsung" class="list-group-item list-group-item-action">Samsung</li>
                <li id="toshiba" class="list-group-item list-group-item-action">Toshiba</li>
                <li id="sony" class="list-group-item list-group-item-action">Sony</li>
            </ul>

        </div>
        <div class="col-9">
            <div class="d-flex justify-content-around     flex-wrap" style="background-image:url(/static/img/bg/paper.gif);"
                id="content">
                <h3 id="noComputersMessage" style="display: none; color: red;">No computers available for this category.
                </h3>
                <!-- <div class="box ">
                    <img class="img-fluid" src="/img/asus.jpg" alt="">
                    <p><span class="badge rounded-pill bg-primary">Ad:</span></p>
                    <p><span class="badge rounded-pill bg-primary">Təvir:</span></p>
                    <p><span class="badge rounded-pill bg-primary">Qiymət:</span></p>
                    <p><span class="badge rounded-pill bg-primary">Yeni:</span></p>
                    <b>
                        <p><span class="badge rounded-pill bg-primary">Telefon:</span></p>
                    </b>
                    <button class="btn btn-primary">Səbətə at</button>
                </div>
                 -->

            </div>
        </div>
        <div class="modal fade" id="computerModal" tabindex="-1" aria-labelledby="computerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="computerModalLabel">Computer Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="" id="computerPhoto" alt="Image not found">
                        <p><span class="badge rounded-pill bg-primary">Marka:</span><span id="computerBrand"></span></p>
                        <p><span class="badge rounded-pill bg-primary">Model:</span><span id="computerModel"></span></p>
                        <p><span class="badge rounded-pill bg-primary">Qiymət:</span><span id="computerPrice"></span>
                        </p>
                        <p><span class="badge rounded-pill bg-primary">Telefon:</span><span id="phoneNumber"></span></p>
                        <p><span class="badge rounded-pill bg-primary">Description:</span><span
                                id="computerDescription"></span></p>
                        <p><span class="badge rounded-pill bg-primary">Is New:</span><span id="computerIsNew"></span>
                        </p>
                        <p><span class="badge rounded-pill bg-primary">RAM:</span><span id="computerRAM"></span></p>
                        <p><span class="badge rounded-pill bg-primary">CPU:</span><span id="computerCPU"></span></p>
                        <p><span class="badge rounded-pill bg-primary">ROM:</span><span id="computerROM"></span></p>
                        <p><span class="badge rounded-pill bg-primary">ROM Type:</span><span
                                id="computerROMType"></span></p>
                        <p><span class="badge rounded-pill bg-primary">Əməliyyat sistemi:</span><span
                                id="computerOS"></span></p>
                        <p><span class="badge rounded-pill bg-primary">GPU:</span><span id="computerGPU"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="basketModalLabel">Basket</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="basket-table table table-bordered">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th>Quantity</th>
                                    <th>Total Value</th>
                                </tr>
                            </thead>

                            <tbody id="basket-computers-table-body"></tbody>
                        </table>

                        <div style="overflow: auto;">
                            <span id="basket-total-price">
                                Total Value
                                <span id="basket-total-price-content">0</span> AZN
                            </span>

                            <button id="clear-basket-button" class="btn btn-danger">Clear Basket</button>
                            <button id="confirm-order-button" type="button" class="btn btn-success"
                                data-bs-toggle="modal" data-bs-target="#confirm-order-modal">Confirm Order</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-order-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmOrderModalLabel">Confirm Order</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="confirmOrderForm" class="was-validated">
                            <div class="mb-3">
                                <label for="customerName" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="customerName" name="customerName"
                                    placeholder="Enter your Name.." required minlength="2" maxlength="30">
                                <div class="valid-feedback">Valid input!</div>
                                <div class="invalid-feedback">Don't leave empty. Min 2 Max 30 characters</div>
                            </div>

                            <div class="mb-3">
                                <label for="customerAddress" class="form-label">Address:</label>
                                <input type="text" class="form-control" id="customerAddress" name="customerAddress"
                                    placeholder="Enter your Address.." required minlength="2" maxlength="300">
                                <div class="valid-feedback">Valid input!</div>
                                <div class="invalid-feedback">Don't leave empty. Min 2 Max 30 characters</div>
                            </div>

                            <div class="mb-3">
                                <label for="customerPhone" class="form-label">Phone:</label>
                                <input type="text" class="form-control" id="customerPhone" name="customerPhone"
                                    pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" placeholder="Enter your Phone.."
                                    required minlength="2" maxlength="30">
                                <div class="valid-feedback">Valid input!</div>
                                <div class="invalid-feedback">Don't leave empty. Enter in the format xxx-xxx-xxxx</div>
                            </div>

                            <div class="mb-3">
                                <label for="customerEmail" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="customerEmail" name="customerEmail"
                                    placeholder="Enter your Email Address.." required minlength="2" maxlength="30">
                                <div class="valid-feedback">Valid input!</div>
                                <div class="invalid-feedback">Don't leave empty.</div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="confirmation" name="confirmation"
                                    required>
                                <label class="form-check-label" for="confirmation">Confirm the accuracy of the
                                    information!</label>
                                <div class="valid-feedback">Confirmed!</div>
                                <div class="invalid-feedback"></div>
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="fixed-elements">
            <input type="text" id="computer-search-input" class="form-control mb-3" placeholder="Axtaris">
            <button type="button" class="btn btn-primary" id="open-basket-button">
                Basket <span id="basket-computer-count" class="badge badge-light">0</span>
            </button>
        </div>
    </div>
</body>

</html>